html, body {
  margin:0;
  padding: 0;
  height: 100%;
}
body {
  background-color: #DADADA;

}
body .first-page-element {
 padding-top:80px!important;
 padding-bottom: 60px!important;
}

body > .ui.container {
  min-height:100%;
  position:relative;

}
/*
div.fixed.menu {
  position:relative;
  margin-bottom: 80px;
}
*/
div.footer {
  position: absolute;
  /*z-index: 10;*/
  bottom:1em; /*1em*/
  left:0em;
  width:100%;
  height: 60px;
  /*margin-top: -3em;*/
}

div.ui.icon.input {
  padding-left: 2em;
}

input#addtags {
  padding-left: 1em!important;
}

::-webkit-input-placeholder {
 font-style: italic;
}
:-moz-placeholder {
 font-style: italic;  
}
::-moz-placeholder {
 font-style: italic;  
}
:-ms-input-placeholder {  
 font-style: italic; 
}

input::-webkit-input-placeholder {
  color: #999;
}
input:focus::-webkit-input-placeholder {
  color: #999!important;
}

/* Firefox < 19 */
input:-moz-placeholder {
  color: #999;
}
input:focus:-moz-placeholder {
  color: #999!important;
}

/* Firefox > 19 */
input::-moz-placeholder {
  color: #999;
}
input:focus::-moz-placeholder {
  color: #999!important;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: #999;
}
input:focus:-ms-input-placeholder {
  color: red;
}

div.ui.modal.launchnext, div.ui.modal.display {
  padding: 2em;
}

div.hidden, span.hidden {
  display: none!important;
}

h3.fluid{
  margin: 0 auto;
  width: 100%;
}

input.fluid {
  width:100%!important;
}

tr.rj {
  background-color: rgba(0, 0, 0,0.28)!important;
}

.ui.popup {
  /*overflow: auto;*/
  padding: 10px;
  box-sizing: border-box;
}

.ui.labeled.input {
  padding-bottom: 10px;
}

.active.ui.button {
  /*font-size: 18px;*/
  border: 2px solid green;
  border-left: 2px solid green!important;
  /*border-radius: 2em;*/
     /* width: 100px;

     height: 100px;*/
   }

   .grid.pusher.project-list, .ui.container {
    overflow: visible!important;
  }

  div.number {
    display: flex;
    align-items: center;
  }

  .ui.accordion > .title {
    padding-bottom: 0em!important;
  }

  .ui.accordion > .content {
    padding-top: 0em!important;
    color: rgba(0,0,0,0.4)!important;
    padding-left: 1.2em!important;
  }