 body {
      background-color: #DADADA;
     
    }
body > .ui.container.content {
   padding-top:80px;
	}

div.ui.icon.input {
  padding-left: 2em;
}

input#addtags {
  padding-left: 1em!important;
}

