 body {
      background-color: #DADADA;
     
    }
body .first-page-element {
   padding-top:80px!important;
	}
/*
div.fixed.menu {
  position:relative;
  margin-bottom: 80px;
}
*/
div.footer {
    /*position: fixed;*/
    /*z-index: 10;*/
    bottom:2em;
    /*height: 3em;*/
    /*margin-top: -3em;*/
}

div.ui.icon.input {
  padding-left: 2em;
}

input#addtags {
  padding-left: 1em!important;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: #999!important;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: #999!important;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: #999!important;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: red;
}