<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>总结问题规律，第二部分</title>
</head>
<body>
	<textarea hidden class="problem_id">{{problem_id}}</textarea>
  <textarea hidden class="worker_id">{{worker_id}}</textarea>
  <textarea hidden class="language">chinese</textarea>
	<div style="width:700px; margin-left:20px; font-family: Helvetica, Arial;">
		<h1 align="center">总结问题规律，第二部分</h1>
		<hr>
		<h3>
			以下描述第二个问题。其它步骤说明和上一界面的相同。

		</h3>
		<hr>
		<p>
			<b>
				各种不同领域里的问题经常具有某些共性，称之为规律。规律抽象地描述问题的轮廓框架和本质。我们首先用一个例子来解释说明怎么概括问题规律。

			</b>
		</p>
		<p>
			<b>问题例子1: </b>
			<i>
			天冷的时候，我们经常看见单只手套掉在地上。几乎所有人，不光是孩子，经常丢手套，导致另外一只手套毫无用处. 这种情形很令人沮丧并且浪费钱。我们怎么样才能防止丢失手套？ 
            </i>
		</p>
		<p>
			<b>相似的问题例子2:</b>
			<i>
			女士喜欢戴耳钉。但耳钉经常莫名奇妙丢失一个，导致另外一个毫无用处。没有比照镜子的时候或者翻首饰盒的时候发现只有一只耳钉或者戴耳钉的时候发现只有一只呆在那里更沮丧的事了。怎样才能防止丢失耳钉呢？
			</i>
		</p>
		<p>
			<b>比较丢失手套和丢失耳钉两个问题，我们可以为丢失手套问题概括一个规律：</b>
			<i>有些东西需要一起协同工作。丢失一对的一方会导致另一方失去作用。问题是我们经常不小心丢失一方，导致它的伙伴毫无作用。如何阻止丢失一对合作伙伴中的一个？</i>
		  <font color="green">这个规律是个好的描述，因为它不仅描述了事物关系而且没有提到具体细节信息，它把“手套”抽象为一对协同合作的伙伴，并且抓住了“一对伙伴需要一起工作”的本质关系。</font>
    </p>
    <p>
			<b>不合格的规律描述：</b>: <i>“事物不能恰当工作，怎么样解决？”</i>
			<font color="red">这个规律太粗略，没有描述具体的事物关系。</font><br/>
			<b>不合格的规律描述：</b><i>“怎样防治冷天丢手套？” </i>
			<font color="red">这个规律提到了太多问题里的具体细节信息，比如“手套”，“冷天”</font>
		</p>
		<hr>
		<h3>第二个问题：</h3>
		<p><i><font color="green">{{problem}}</font></i></p>
		<b>这个任务看起来很难。我们提供以下步骤来帮助你总结规律。</b>
		<p> 第一步: 请用你自己的语言描述以上问题。比如，如果你像你朋友重述以上问题，你会怎么描述？</p>
		<textarea rows="7" cols="100" class="summary"></textarea>
		<br/><br/>

		<p>第二步：请想出一个另外的存在于其它领域里类似的问题，并描述在下面的文本框里。</p>
		<textarea rows="7" cols="100" class="similar"></textarea>
		<br/><br/>

		<p> 
		    第三步：现在请为以上所给问题总结一个规律。<br/>
			<i> 提示：</i>: 你可以对应所给问题和你想出来的类似问题里的事物来总结一个共同的规律。<br/>
		</p>
		<textarea rows="7" cols="100" class="schema"></textarea>
    <br/><br/>
		<input type="submit" value="提交任务到下一步回答几个简短的自我介绍问题" class="submit">
    
		<br/><br/>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="/static/assets/js/generate_schema2.js"></script>
</body>
</html>




