<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>解决问题，第一部分</title>
<!--<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->

<!--<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>-->

<!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />-->
</head>
<body>
	<textarea hidden class="problem_id">{{problem_id}}</textarea>
  <textarea hidden class="language">chinese</textarea>
  <textarea hidden class="worker_id">{{worker_id}}</textarea>

	<!--<div id="dialog" title="Alert">-->
		<!--<p id="dialogtext"></p>-->
	<!--</div>-->

	<div style="width:700px; margin-left:20px; font-family: Helvetica, Arial;">
		<h1 align="center">解决问题 第一步 </h1>
		<hr>
		<h3>
			在这个任务里，我们将会要求你寻找一个启发灵感，并且利用这个启发灵感来解决一个问题。这个任务由两部分构成：搜寻灵感，解决问题。
		</h3>
		<hr>
		<p>
			<b>以下描述了我们的问题：</b>:
		</p>
		<p><i><font color="green">{{problem}}</font></i></p>
		<p><b>
			
			通过在 <a href="http://www.baidu.com" target="blank">百度</a>搜索，寻找一个有助于解决这个问题的启发灵感。
			启发灵感指的是存在各种领域里的方法，技术，或者知识。这些信息有可能会帮助你为所给问题想出具有创造性的答案。
			请务必使用 <a href="http://www.baidu.com" target="blank">http://www.baidu.com/</a> 为搜索引擎。</b>
		</p>
		<p>
			1. 找到启发灵感之后，复制粘题包含灵感信息的网页在下面的文字框里。
		</p>
		<input size="100" class="source_link">
		<br/>

		<p>
			2. 如果你的灵感网页含有图片，请复制粘贴图片链接在下面。复制图片链接的方法：右击图片，然后: <br/>
      - 在IE或者类似的浏览器里,选择"属性",然后复制出现的菜单"地址"里的链接 <br/>
			- 在 Safari浏览器,选择"复制图片地址"<br/>
		</p>
		<input size="100" class="image_link">
		<br/><br/>
		<p>
			3. 请用几句话来总结你找到的灵感信息。
		</p>
		<textarea rows="7" cols="100" class="summary"></textarea>
		<br/><br/>
		<p>
			4. 请解释为什么你认为这个灵感网页会有助于解决所给问题。
		</p>
		<textarea rows="7" cols="100" class="reason"></textarea>
		<br/><br/>
		<p id="demo2"></p>
		<input type="submit" value="继续到第二步" class="submit">
		<p><font color="red" size="2">
         请确保你根据指示操作并且找到了一个有用的启发灵感。一旦点击这个网页，你将不能够再回到这个界面。
    	</font></p>
		<p id="demo"></p>
		<p id="fill"></p>
		<br/><br/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="/static/assets/js/generate_inspiration.js"></script>
	</div>
</body>
</html>