<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Придумайте шаблон 2</title>
</head>
<body>
    <textarea hidden class="problem_id">{{problem_id}}</textarea>
    <textarea hidden class="worker_id">{{worker_id}}</textarea>
    <textarea hidden class="language">russian</textarea>
    <div style="width:700px; margin-left:20px; font-family: Helvetica, Arial;">
        <h1 align="center">Придумайте шаблон 2</h1>
        <hr>
        <h3>
            Теперь мы преступаем ко второй проблеме. Инструкции те же.
        </h3>
        <hr>
        <p>
            <b>
                Многие проблемы похожи друг на друга. Несмотря на то, что мы сталкиваемся с ними в не похожих ситуациях, они попадают под один шаблон. Далее мы покажем
                несколько примеров с объяснениями.
            </b>
        </p>
        <p>
            <b>Пример №1:</b>
            <i>В холодную погоду на улицах часто валяются перчатки без пары. И дети, и взрослые, часто теряют перчатки. От одной перчатки без пары пользы мало, поэтому потеря перчатки очень нежелательный инцидент. Есть ли метод, который может спасти нас от потери перчаток?</i>
        </p>
        <p>
            <b>Пример №2:</b>
            <i>Женские сережки часто теряются. Представьте ситуацию, когда женщина смотрит на себя в зеркало, и видит, что пропала одна сережка. Такая ситуация крайне нежелательна, учитывая стоимость сережек и пользу от одной оставшейся. Есть ли метод, который может спасти нас от потери сережек?</i>
        </p>
        <p>
            <b>Сравнивая эти две проблемы, мы можем создать шаблон, который подходит для обоих:</b>
            <i>Некоторые предметы полезны только в паре. Проблема в том, что один предмет теряется, оставляя второй без пользы. Есть ли метод, который может спасти нас от таких потерь?</i>
          <font color="green">Этот шаблон - хороший, потому что он абстрагирует детали, заменяя "перчатки" на "предметы" и сохраняет очертание проблемы: "предметы полезны только в паре".</font>
        </p>
        <p>
            <b>Плохой шаблон</b>: <i>Некоторые вещи плохо работают. Как починить?</i>
            <font color="red"> Этот шаблон - слишком обобщен и не передает очертания проблемы.</font><br/>
            <b>Плохой шаблон</b>: <i>Как предотвратить потерю перчаток в холодную погоду?</i>
            <font color="red">Этот шаблон содержит слишком много специфичных деталей, например "перчатки", "холодная погода".</font>
        </p>
        <hr>
        <h3>Вторая проблема</h3>
        <p><i><font color="green">{{problem}}</font></i></p>
        <b>Это задание может показаться сложным, поэтому мы разбили задание на 3 этапа, которые помогут вам придумать хороший шаблон:</b>
        <p> 1. Своими словами, опишите представленную проблему. Опишите так, чтобы было понятно, любому вашему другу.</p>
        <textarea rows="7" cols="100" class="summary"></textarea>
        <br/><br/>

        <p> 2. Придумайте похожую проблему и опишите ее ниже. </p>
        <textarea rows="7" cols="100" class="similar"></textarea>
        <br/><br/>

        <p>
            3. Теперь придумайте шаблон для представленной проблемы.<br/>
            Проверьте, чтобы наша проблема, и проблема, которую вы придумали в шаге №2, обе подходили под ваш шаблон.<br/>
        </p>
        <textarea rows="7" cols="100" class="schema"></textarea>
        <br/><br/>
        <input type="submit" value="Закончить задание и заполнить короткую анкету о себе" class="submit">
    <br/><br/>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/generate_schema1.js"></script>
</body>
</html>