{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
<div class="ui container center middle aligned first-page-element">
	<div class="ui equal width grid">
		<table class="ui cell padded table">
			<thead>
				<tr>
					<td>Generated Idea</td>
					<td>Inspiration</td>
					<td>Schema</td>
					<td>Problem</td>
					<td>Action/Feedback</td>
				</tr>
			</thead>
			<tbody>
				{% for idea in ideas %}
				<tr class={{idea.idea_id}}>
					<td>{{idea.text}}
						<!--<h2 class="ui aligned sortable centered header">-->
							<!--<a href="get_schema" class="idea-content">{{idea.text}}</a>-->
						<!--</h2>-->
					</td>
					<td>{{idea.inspiration_text}}</td>
					<td>{{idea.schema_text}}</td>
					<td>{{idea.problem_text}}</td>
					<td><div class="ui button ac">Accept</div>
						<div class="ui button red rj">Reject</div>
					</td>
				</tr>
				{% endfor %}
				
			</tbody>
			<tfoot class="full-width">
				<tr class="padded">
					<th colspan="4">
						<div class="ui button ac-all">Accept all</div>
						<div class="ui button rj-all">Reject all</div>
						<div class="ui button next">Proceed</div>
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<script src="/static/assets/js/ideas.js"></script>
{% endblock %}