{% extends "stage_mark_footer.html" %}
{% set active_page = "home" %}
{% block content %}
<div class="ui container center middle aligned first-page-element">
	<div class="ui divided items {{problem_id}}">
		{% for inspiration in inspirations %}
		<div class="item">
			<div class="image"><img src={{inspiration.image_link}} alt=""></div>
			<div class="content">
				<a href="" class="header">{{inspiration.summary}}</a>
				<div class="description">{{inspiration.reason}}</div>
				<div class="extra"><a href={{inspiration.source_link}} target="_blank">Source</a></div>
			</div>
			<div class="action">
				{% if inspiration.status == 1 or inspiration.status ==0 %}
				{% if inspiration.status == 1 %}
				<div class="ui buttons">
					<div class="ui button ac active">Accept</div>
					<div class="or"></div>
					<div class="ui button red rj">Reject</div>
				</div>
				<div class="processed hidden">
					<div class="ui label">Processed</div>
					<div class="ui button blue reactivate">Activate</div>
				</div>
				{% elif inspiration.status ==0 %}
				<div class="ui buttons decision">
					<div class="ui ac button">Accept</div>
					<div class="or"></div>
					<div class="ui button active red rj">Reject</div>
				</div>
				{% endif %}
				{% else %}
				<div class="ui buttons decision hidden">
					<div class="ui button ac active">Accept</div>
					<div class="or"></div>
					<div class="ui button red rj">Reject</div>
				</div>
				<div class="processed">
					<div class="ui label">Processed</div>
					<div class="ui button labeled blue reactivate">Activate</a></div>
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
		<div class="ui button acall">Accept all</div>
		<div class="ui red button rjall">Reject all</div>
		<div class="ui teal button proceed">Proceed</div>
	</div>
	<div class="ui twelve wide column">
		<div class="ui modal launchnext inspiration">
			<div class="ui text container aligned center middle padded">
				<h3 class="ui header">Configure Idea Collection Task</h3>
				<div class="ui form">
					<div class="two fields">
						<div class="field">
							<div class="ui inverted black label">You have {{inspirations|length}} inspirations(s) to initiate the idea generation from.</div>
						</div>
						<div class="field">
							<div class="field"><input type="text" class="count_goal" placeholder="Enter the number of ideas targeted for each inspiration">
							</div>
						</div>

					</div>
					<button class="ui button teal startidea">Confirm</button>
					<button class="ui button teal cancelidea">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/static/assets/js/inspirations.js"></script>
{% endblock %}