{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
<div class="ui container center middle aligned first-page-element">
	<div class="ui divided items">
		{% for inspiration in inspirations %}
		<div class="item">
			<div class="image"><img src={{inspiration.link}} alt=""></div>
			<div class="content">
				<a href="" class="header">{{inspiration.summary}}</a>
				<div class="description">{{inspiration.reason}}</div>
				<div class="extra"><a href="http://www.inc.com/jeff-haden/75-inspiring-motivational-quotes-for-being-happier.html" target="_blank">Source</a></div>
			</div>
			<div class="action">
				<div class="ui button ac">Accept</div>
				<div class="ui button red rj">Reject</div>
			</div>
			
		</div>
		{% endfor %}
		<div class="ui button">Accept all</div>
		<div class="ui red button">Reject all</div>
		<div class="ui teal button">Proceed</div>
	</div>
</div>
<script src="/static/assets/js/inspirations.js"></script>
{% endblock %}