{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
<div class="ui container center middle aligned first-page-element">
	<div class="ui equal width grid">
		<table class="ui cell padded table">
			<thead>
				<tr>
					<td>Summary</td>
					<td>Reason</td>
					<td>Created</td>
					<td>Illustration</td>
				</tr>
			</thead>
			<tbody>
				{% for inspiration in inspirations %}
				<tr class={{'inspiration-id-'~inspiration.inspiration_id}}>
					<td>
						<h2 class="ui aligned sortable centered header">
							<a href="get_schema" class="schema-content">{{inspiration.text}}</a>
						</h2>
					</td>

					<td>{{schema.time}}</td>
					<td><div class="ui button">Accept</div>
						<div class="ui button">Reject</div>
					</td>
				</tr>
				{% endfor %}
				<tr>
					<td>This is summary</td>
					<td>Hide or face</td>
					<td>Forget it</td>
				</tr>
			</tbody>
			<tfoot class="full-width">
				<tr class="padded">
					<th colspan="4">
						<div class="ui button">Accept all</div>
						<div class="ui button">Reject all</div>
						<div class="ui button">Proceed</div>
					</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
{% endblock %}