{% extends "base.html" %}
{% block content %}
<div class="ui middle first-page-element aligned center container content">
  <div class="ui problem form">
    <h2 class="ui diving header">Problem Information</h2>
    <span class='problem_id hidden'>{{""~problem_id|default('')~""}}</span>
    <div class="field">
      <label class="title">
        <div class="ui transparent input fluid">
          <h3 class="title fluid italic">
            {% if problem_id %}
            <input type="text" name="title" class="fluid" value="{{title}}"
            {% if operation=="view" %}
            disabled
            {% endif %}
            >
            {% else %}
            <input type="text" name="title" class="fluid" placeholder="Enter title...">
            {% endif %}
          </h3>
        </div>
      </label> 
    </div>
    <div class="field">
      {% if problem_id %}
      <textarea type="text" name="description" 
      {% if operation=="view" %}
      disabled
      {% endif %}
      >{{description}} </textarea>
      {% else %}
      <textarea type="text" name="description" placeholder="Project description..."></textarea>
      {% endif %}
    </div>
    <div class="two fields">
      <div class="field">
        <div class="ui fluid search selection dropdown">
          <i class="tag icon"></i>
          <input type="hidden" name="category">
          <span class="text">Category</span>
          <div class="menu">
            <div class="item">Problem</div>
            <div class="item">Method/Technology</div>
            <div class="item">What's next</div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui right labeled left icon input">
          <i class="tags icon"></i>
          <input type="text" id="addtags" placeholder="Separate with commas">
          <a class="ui tag blue pointing label">
            Add Tag
          </a>
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
          <!-- <label for="file" class="ui icon button">
            <i class="file icon"></i>
            Open File</label>
            <input type="file" id="file" style="display:none"> -->
            {% if problem_id %}
            <input type="text" name="schemagoal" id="schemagoal" value={{count_goal}}
            {% if operation=="view" %}
            disabled
            {% endif %}
            >
            {% else %}
            <input type="text" name="schemagoal" id="schemagoal" placeholder="Target number of schemas to get">
            {% endif %}
          </div>
          <div class="field">
            <div class="ui teal button submit right save"><i class="icon save"></i> Save
              <div class="ui save-loader small inline mini text loader"></div> 
            </div>
            <div class="ui blue button submit">Submit
              <div class="ui submit-loader small inline mini loader"></div> 
            </div>
            <div class="ui blue button lazy">Lazy
              <div class="ui submit-loader small inline mini loader"></div>
            </div>
          </div>
        </div>
        <div class="ui error message"></div>
      </div>

      <script src="/static/semantic/dist/semantic.js"></script>
      <script src="/static/assets/js/new_project.js"></script>
    </div>

    {% endblock %}