{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
<div class="ui middle aligned center container content first-page-element">
  <div class="ui project-list equal width grid">
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th>Problem name</th>
          <th>Created</th>
          <th>Action</th>
          <th class="social">Schema count</th>
        </tr>
      </thead>
      <tbody>
        {% for problem in problems%}
        <tr class={{problem.problem_id|e}} >
          <td>
            <h2 class="ui aligned sortable centered header">{{problem.title}}</h2>
          </td>
          <td>{{problem.time_created}}</td>
          <td>
            <div class="ui button">Edit</div>
            <div class="ui button">Delete</div>
            <div class="ui button">Publish</div>
          </td>
          <td>
            <div class="ui label">
              <i class="paw icon"></i> 
              <a href={{problem.schemas_page_link}} class="ui small basic schema-list">{{problem.schema_count}}</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class="full-width">
        <tr class="padded">

          <th colspan="5">
            <div class="ui button">Publish all</div>
            <div class="ui button colspan-btn">Delete all</div>
            <div class="ui float right blue button colspan-btn ">New Project</div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<script src="/static/assets/js/problems.js"></script>

{% endblock %}