{% extends "base.html" %}
{% set active_page = "home" %}
{% set sidebar = [
  ('/problems', 'problems', 'My problems'),
  ('/starredprj', 'starredprj','Starred problems'),
  ('/following','following','Following'),
  ('/follower/', 'follower','Follower'),
  ('/messages/', 'messages','Messages'),
  ('/new_problem', 'new_problem','Add Problem')
  ] -%}
{% block content %}
<div class="ui middle aligned center container sidebar-context pushable content first-page-element">
 <!-- <div class="ui first-page-element home sidebar vertical menu left">

  {% for href, id, caption in sidebar %}
  <a href="{{ href|e }}" id= {{id|e}} 
  {% if id == active_tab %} class="active red item"
  {% else %}
  class="item"
  {% endif%}>{{ caption|e }}</a>
  {% endfor %}
</div> -->
<div class="ui project-list equal width grid pusher">
  <table class="ui celled padded unstackable table">
    <thead>
      <tr>
        <th>Problem name</th>
        <th>Created</th>

        <th>Action</th>

        <th class="social">Brief summary</th>

      </tr>
    </thead>
    <tbody>
      {% for problem in problems%}
      <tr class={{problem.problem_id|e}} >
        <td>
          <h2 class="ui aligned sortable centered header">{{problem.title}}</h2>
        </td>
        <td>{{problem.time_created}}</td>
        <td>
          {% if problem.stage=='unpublished' %}
          <div class="ui button edit" ><a href={{problem.edit_page_link}}>Edit</a> </div>
          <div class="ui button delete">Delete</div>
          <div class="ui button publish">Publish</div>
          <div class="ui button view hidden"><a href={{problem.view_page_link}}>View</a></div>
          <div class="ui button hidden addschemas"><a href='#'>More schemas</a></div>
          <div class="ui popup flowing hidden">
            <div class="ui labeled input">
              <div class="ui label" >Enter the additional </div>
              <input type="text" class="moreschemas" placeholder="number of schemas">
            </div>
            <div class="ui blue button reactivate" style="display: block">Go!</div>
          </div>
          {% else %}
          <div class="ui button hidden" ><a href={{problem.edit_page_link}}>Edit</a></div>
          <div class="ui button delete hidden">Delete</div>
          <div class="ui button publish hidden">Publish</div>
          <div class="ui button view"><a href= {{problem.view_page_link}}>View</a></div>
          {% if problem.lazy==false %}
          <div class="ui button addschemas"><a href='#'>More schemas</a></div>
          {% endif %}
          <div class="ui popup flowing hidden">
            <div class="ui labeled input">
              <div class="ui label" >Enter the additional </div>
              <input type="text" class="moreschemas" placeholder="number of schemas">
            </div>
            <div class="ui blue button reactivate" style="display: block">Go!</div>
          </div>
          {% endif %}
        </td>
        <td>
          {% if problem.lazy!=True and (problem.stage=='schema' or problem.stage=='inspiration' or problem.stage=='idea' or problem.stage=='suggestion') %}
          <a href={{problem.schemas_page_link|default('#')}} class="ui label schema schema-list" data-tooltip="The number of (evaluated) schemas" ><i class="sitemap icon"></i> {{problem.schema_count|default(0)}} </a>
          {% endif %}
          {% if problem.lazy==False and (problem.stage=='inspiration' or problem.stage=='idea' or problem.stage=='suggestion') %}
          <a href={{ problem.inspirations_page_link|default('#')}} class="ui label inspiration-list" data-tooltip="The number of (evaluated) inspirations" ><i class="write icon"></i> {{problem.inspiration_count|default(0)}}</a>
          {% endif %}
          {% if problem.lazy and (problem.stage=='schema' or problem.stage=='inspiration') %}
          <div class="ui label blue" data-tooltip="Please check back later">in progress</div>
          {% endif %}
          {% if problem.stage=='idea' or problem.stage=='suggestion' %}
          <a href={{ problem.ideas_page_link|default('#')}} class="ui label idea-list" data-tooltip="The number of (evaluated) ideas" ><i class="idea icon"></i> {{problem.idea_count|default(0)}}</a>
          {% endif %}
          {% if problem.stage=='suggestion' %}
          <a href={{ problem.suggestions_page_link|default('#')}} class="ui label suggestion-list" data-tooltip="The number of (evaluated) suggestions" ><i class="doctor icon"></i> {{problem.suggestion_count|default(0)}}</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="full-width">
      <tr class="padded">
        <th colspan="5">
          <div class="ui button ac-all">Publish all</div>
          <div class="ui button colspan-btn rj-all">Delete all</div>
          <div class="ui float right button colspan-btn"><a href="/new_problem">New problem</a></div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
</div>
<!-- <script src="/static/semantic/dist/semantic.js"></script> -->
<script src="/static/assets/js/problems.js"></script>

{% endblock %}