{% extends "account_edit.html" %}
{% set active_page = "home" %}
{% set active_tab = "profile" %}
{% block profile %}
<form action="" class="ui form">
  <h3 class="dividing header">
    <div class="field">
      <label >Name</label>
      <div class="three fields">
        <div class="field"><input type="text" name="" id="" placeholder="First Name"></div>
        <div class="field"><input type="text" name="" id="" placeholder="Last Name"></div>
        <div class="field"><input type="text" name="" id="" placeholder="Nick Name"></div>
      </div>
    </div>
  </h3>
</form>
{% endblock %}