{% extends "stage_mark_footer.html" %}
{% set active_page = "home" %}
{% block content %}
{% set navigation_bar = [
  'rejected',
  'accepted',
  'processed'
  ] -%}
  <div class="ui middle aligned center container content first-page-element">
    <div class="ui schema-list equal width attached grid">
      <table class='ui fixed celled padded unstackable table'>
        <thead class={{problem_id}}>
          <tr>
            <th class="eight wide">Schema Content</th>
       <!--      <th>Date</th> -->
            <th class="three wide">By</th>
            <th class="five wide">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for schema in items %}
          <tr class="{{'schema-id-'~schema.schema_id}}{% if schema.status == 0 %} rj
          {% endif %}"
          >
          <td>
            <!-- <h2 class="ui aligned sortable centered header"> -->
              <a href="get_schema" class="schema-content">{{schema.text}}</a>
            <!-- </h2> -->
          </td>

          <!-- <td>{{schema.time_created}}</td> -->
          <td>{{schema.worker_id}}</td>
          <td class='action'>
            {% if schema.status == 1 or schema.status ==0 %}
            {% if schema.status == 1 %}
            <div class="ui buttons">
              <div class="ui button ac active">Accept</div>
              <div class="or"></div>
              <div class="ui button red rj">Reject</div>
            </div>
            <div class="processed hidden">
              <div class="ui label">Processed</div>
              <div class="ui button label blue reactivate">Activate</div>
            </div>
            {% elif schema.status ==0 %}
            <div class="ui buttons decision">
              <div class="ui ac button">Accept</div>
              <div class="or"></div>
              <div class="ui button active red rj">Reject</div>
            </div>
            {% endif %}
            {% else %}
            <div class="ui buttons decision hidden">
              <div class="ui button ac active">Accept</div>
              <div class="or"></div>
              <div class="ui button red rj">Reject</div>
            </div>
            <div class="processed">
              <div class="ui label">Processed</div>
              <div class="ui button label blue reactivate">Activate</a></div>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}

      </tbody>
      <tfoot class="full-width">
        <tr class="padded">
          <th colspan="3">
            <div class="ui button">Accept all</div>
            <div class="ui button colspan-btn">Reject all</div>
            <div class="ui float right teal button colspan-btn proceed">Proceed</div>
          </th>
        </tr>
      </tfoot>
    </table>
    <div class="ui twelve wide column">
      <div class="ui modal launchnext inspiration">
        <div class="ui text container aligned center middle padded">
          <h3 class="ui header">Configure Inspiration Collection Task</h3>
          <div class="ui form">
            <div class="two fields">
              <div class="field">
                <div class="ui inverted black label">You have {{schemas|length}} schema(s) to initiate the inspirations from</div>
              </div>
              <div class="field">
                <div class="field"><input type="text" class="count_goal" placeholder="Enter the number of inspiration for each schema">
                </div>
              </div>
            </div>
            <button class="ui button teal startinspiration">Confirm</button>
            <button class="ui button teal cancelinspiration">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<script src="/static/assets/js/schemas.js"></script>

{% endblock %}