{% extends "stage_mark_footer.html" %}
{% set active_page = "home" %}
{% block content %}
<div class="ui middle aligned centered container first-page-element content">
	<div class="ui label orange">{{idea_text}}</div>
	<div class="segments">
		{% for feedback in feedbacks %}
		<div class="segment feedback {{feedback.feedback_id}}">{{feedback.text}}</div>
		<div class="segments suggestions">
			{% for suggestion in feedback.suggestions %}
			<div class="segment suggestion">{{suggestion.text}}</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}r