<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Survey</title>
</head>
<body>
	<textarea hidden class="language">chinese</textarea>
  <textarea hidden class="worker_id">{{worker_id}}</textarea>
	<div style="width:700px; margin-left:20px; font-family: Helvetica, Arial;">
    <h1 align="center">基本信息</h1>
		<hr>
		<h3>
				这些信息仅用于统计分析。
		</h3>
		<hr>
    1. 年龄: <input type="number" name="age" min="1" max="99">
    <br/><br/>
    2. 性别:<br/>
    <input type="radio" name="gender" value="male"> 男<br>
    <input type="radio" name="gender" value="female"> 女<br>
    <br/>
    3. 教育水平:<br/>
    <input type="radio" name="education" value="lt_hs"> 小于高中学历<br>
    <input type="radio" name="education" value="hs"> 高中学历<br>
    <input type="radio" name="education" value="bs"> 本科<br>
    <input type="radio" name="education" value="ms"> 硕士<br>
    <input type="radio" name="education" value="phd"> 博士<br>
    <br/>
    4. 专业技能: <br/>
    <textarea rows="1" cols="100" class="expertise"></textarea>
    <br/><br/>
    5. 你在其它国家居住过吗？<br/>
    <input type="radio" name="foreign_lived" value="no"> 从来没有<br>
    <input type="radio" name="foreign_lived" value="lt_month"> 不到一个月<br>
    <input type="radio" name="foreign_lived" value="few_months"> 几个月<br>
    <input type="radio" name="foreign_lived" value="few_years"> 几年<br>
    <br/>
    6. 你经常和外国人交谈吗？<br/>
    <input type="radio" name="foreign_interact" value="never"> 从来没有<br>
    <input type="radio" name="foreign_interact" value="several_times"> 仅仅几次<br>
    <input type="radio" name="foreign_interact" value="frequently"> 经常<br>
    <br/>
    7. 请列出你会说的语言:<br/>
    <textarea rows="1" cols="100" class="languages"></textarea>
    <br/><br/>
		<input type="submit" value="提交" class="submit">
		<br/><br/>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="/static/assets/js/survey.js"></script>
</body>
</html>